
.code {
  margin: 20px 0px;
  background-color:  rgb(233, 226, 210);
  border-radius: 8px 8px 8px 8px;
  padding-top: 4px;
  
}

.title {
  font-family: "Arial", "游ゴシック", 'Helvetica Neue', "Hiragino Sans", "sans-serif";
  font-weight: bold;
  padding: 0px 20px 0px 20px;
  vertical-align: text-bottom;
}